<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sprintapp">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".client.AddCarActivity" />

        <activity android:name=".owner.DetailsActivity" />

        <activity android:name=".client.VisitsActivity" />

        <activity android:name=".client.CarsActivity" />

        <activity android:name=".owner.ManageActivity" />

        <activity android:name=".client.RegisterActivity" />

        <activity android:name=".client.ClientMainActivity" />

        <activity android:name=".owner.OwnerMainActivity" />

        <activity android:name=".owner.EventListActivity" />

        <activity android:name=".shared.DatabaseHelper" />

    </application>

</manifest>